<!DOCTYPE html>
<html lang="en">

<head>
 <link rel=stylesheet type=text/css href="<% css_url %>">
  <link rel=stylesheet type=text/css href="<% bootstrap_url %>">
</head>
<body>
<% content %>
</body>
</html>
